
/* .Bg-layer{
    background-color: #013d27;
    height: 100vh;
    margin: 15px;
    width: 300px;
    

} */

.Admin{
    display: flex;
    flex-direction: row;

}
    
div.Bg-layer{
    position: sticky;
    top: 0;
    background-color: #013d27;
    height: 100vh;
    margin: 15px;
    width: 300px;
    z-index: 15;
    text-decoration: none;


}
.lambda{
    text-decoration: none;
}



